src/conf/xml-resources/web-service-references/EMIPlansGenerator/wsdl/localhost_8080/EMIWebService/EMIPlansGenerator.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1 (UNKNOWN_BRANCH-false; 2015-01-15T16:53:43+0100) JAXWS-RI/2.2.10 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://emiplans.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://emiplans.com/">

<xs:element name="generatePlans" type="tns:generatePlans"/>

<xs:element name="generatePlansResponse" type="tns:generatePlansResponse"/>

<xs:element name="priceGenerator" type="tns:priceGenerator"/>

<xs:element name="priceGeneratorResponse" type="tns:priceGeneratorResponse"/>

<xs:complexType name="generatePlans">
<xs:sequence>
<xs:element name="months" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="generatePlansResponse">
<xs:sequence>
<xs:element name="return" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="priceGenerator">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="priceGeneratorResponse">
<xs:sequence>
<xs:element name="return" type="xs:float"/>
</xs:sequence>
</xs:complexType>
</xs:schema>